In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [4]:
df_open_merged = pd.read_csv('/content/crypto_et_open_merged.csv')
df_close_merged = pd.read_csv('/content/crypto_et_closed_merged.csv')

In [7]:
df_open_merged['Date'] = pd.to_datetime(df_open_merged['Date'],dayfirst=True)
df_open_merged['Open Date'] = pd.to_datetime(df_open_merged['Open Date'],dayfirst=True)
df_close_merged['Date'] = pd.to_datetime(df_close_merged['Date'],dayfirst=True)
df_close_merged['Close Date'] = pd.to_datetime(df_close_merged['Close Date'],dayfirst=True)

In [8]:
print(df_close_merged.columns)
print(df_close_merged.shape)
print(df_open_merged.columns)
print(df_open_merged.shape)
print(df_close_merged.dtypes)
print(df_open_merged.dtypes)

Index(['Position ID', 'Action', 'Units', 'Close Date', 'Spread', 'Profit',
       'Close Rate', 'Date', 'Open', 'High', 'Low', 'Close', 'Weekday'],
      dtype='object')
(810, 13)
Index(['Position ID', 'Action', 'Amount', 'Units', 'Open Date', 'Open Rate',
       'Date', 'Open', 'High', 'Low', 'Close', 'Weekday'],
      dtype='object')
(810, 12)
Position ID             int64
Action                 object
Units                 float64
Close Date     datetime64[ns]
Spread                float64
Profit                float64
Close Rate            float64
Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close                 float64
Weekday                object
dtype: object
Position ID             int64
Action                 object
Amount                float64
Units                 float64
Open Date      datetime64[ns]
Open Rate             float64
Date           datetime64[ns]
Open                  float64
High                  float64
Low                   float64
Close                 float64
Weekday                object
dtype: object

In [9]:
print(df_close_merged['Position ID'].nunique())
print(df_open_merged['Position ID'].nunique())

810
810

In [10]:
df_open_merged['Amount_Eur'] = df_open_merged['Amount']/df_open_merged['Low']
df_open_merged['Open Rate_Eur'] = df_open_merged['Open Rate']/df_open_merged['Low']
df_close_merged['Close Rate_Eur'] = df_close_merged['Close Rate']/df_close_merged['High']
df_close_merged['Amount_close_Eur'] = (df_close_merged['Close Rate_Eur']*df_close_merged['Units']) - (df_close_merged['Spread']/df_close_merged['Low'])

In [11]:
df_open_merged

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date,Open,High,Low,Close,Weekday,Amount_Eur,Open Rate_Eur
0,846176513,Buy Tezos,412.00,205.804486,2020-12-23 12:03:00,2.00,2020-12-23,1.218591,1.221941,1.215776,1.218665,Wednesday,338.878214,1.645040
1,846157005,Buy Tezos,500.00,251.521706,2020-12-23 11:26:00,1.99,2020-12-23,1.218591,1.221941,1.215776,1.218665,Wednesday,411.259969,1.636815
2,847510147,Buy EOS,200.00,74.626866,2020-12-23 18:07:00,2.68,2020-12-23,1.218591,1.221941,1.215776,1.218665,Wednesday,164.503988,2.204353
3,847776329,Buy XRP,25.00,87.811732,2020-12-23 20:47:00,0.28,2020-12-23,1.218591,1.221941,1.215776,1.218665,Wednesday,20.562998,0.230306
4,846054549,Buy XRP,1025.00,2871.952928,2020-12-23 08:02:00,0.36,2020-12-23,1.218591,1.221941,1.215776,1.218665,Wednesday,843.082936,0.296107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,1346794176,Buy Cardano,186.79,88.264599,2021-10-13 07:40:00,2.12,2021-10-13,1.153097,1.157901,1.153057,1.153403,Wednesday,161.995461,1.838591
806,828009991,Buy Cardano,0.89,6.129467,2020-12-10 14:20:00,0.15,2020-12-10,1.208167,1.215806,1.208036,1.207875,Thursday,0.736733,0.124168
807,849917977,Buy Ethereum,235.00,0.318580,2020-12-28 14:15:00,737.65,2020-12-28,1.220703,1.225200,1.218353,1.220510,Monday,192.883343,605.448503
808,885269560,Buy Cardano,100.00,337.040782,2021-01-08 19:43:00,0.30,2021-01-08,1.226873,1.228215,1.221493,1.227144,Friday,81.867027,0.245601
809,881225578,Buy Cardano,50.00,157.381177,2021-01-08 12:26:00,0.32,2021-01-08,1.226873,1.228215,1.221493,1.227144,Friday,40.933513,0.261974

In [14]:
df_open_merged.to_csv('crypto_et_open_merged_eur_rate.csv',index=False)
df_close_merged.to_csv('crypto_et_close_merged_eur_rate.csv',index=False)

In [19]:
df_close_merged.sort_values(by='Close Date',inplace=True)

In [20]:
df_open_merged.sort_values(by='Open Date',inplace=True)

In [21]:
df_et_crypto_open_eur = df_open_merged[['Position ID', 'Open Date',
                                 'Date','Action', 'Units',
                                 'Amount_Eur', 'Open Rate_Eur']]

In [22]:
df_et_crypto_close_eur = df_close_merged[['Position ID', 'Close Date', 'Date',
                                          'Action', 'Units', 'Amount_close_Eur',
                                          'Close Rate_Eur']]

In [45]:
df_et_crypto_open_eur.to_csv('et_crypto_open_eur_rate.csv',index=False)
df_et_crypto_close_eur.to_csv('et_crypto_close_eur_rate.csv',index=False)

In [27]:
df_et_crypto_open_eur.rename(columns={'Position ID':'Open_Position ID',
                                      'Open Date':'Open Datetime',
                                      'Date':'Open Date',
                                      'Action':'Open Action',
                                      'Units':'Open Units',
                                      'Amount_Eur':'Open Amount_Eur',
                                      },inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [41]:
df_et_crypto_open_eur.reset_index(inplace=True)

In [43]:
df_et_crypto_open_eur.drop('index',axis=1,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [44]:
df_et_crypto_open_eur

,Open_Position ID,Open Datetime,Open Date,Open Action,Open Units,Open Amount_Eur,Open Rate_Eur
0,599295474,2020-04-17 13:09:00,2020-04-17,Buy Bitcoin,0.014029,92.484010,6592.389676
1,599875563,2020-04-17 16:40:00,2020-04-17,Buy Ethereum,0.580499,92.484010,159.322203
2,599996081,2020-04-17 18:42:00,2020-04-17,Buy Bitcoin,0.014149,92.484010,6536.362863
3,600052383,2020-04-18 13:49:00,2020-04-18,Buy Bitcoin,0.103664,693.630071,6691.116356
4,600057583,2020-04-18 16:48:00,2020-04-18,Buy Bitcoin,0.020751,138.726014,6685.280615
...,...,...,...,...,...,...,...
805,1395459836,2021-11-17 10:55:00,2021-11-17,Buy Ethereum,0.252729,956.671958,3785.367680
806,1395474358,2021-11-17 11:33:00,2021-11-17,Buy Ethereum,0.120850,457.343177,3784.382811
807,1419921913,2021-12-04 05:26:00,2021-12-04,Buy Shiba (in millions),0.794084,23.474908,29.563296
808,1425416509,2021-12-09 09:14:00,2021-12-09,Buy Cardano,83.616294,102.425389,1.223466
809,2325392242,2022-11-16 16:35:00,2022-11-16,Buy Songbird,11.510000,0.145118,0.009675

In [29]:
df_et_crypto_close_eur.columns

Index(['Position ID', 'Close Date', 'Date', 'Action', 'Units',
       'Amount_close_Eur', 'Close Rate_Eur'],
      dtype='object')

In [33]:
df_et_crypto_close_eur.rename(columns={'Position ID':'Close Position ID',
                                      'Close Date':'Close Datetime',
                                      'Date':'Close Date',
                                      'Action':'Close Action',
                                      'Units':'Close Units',
                                      'Amount_close_Eur':'Close Amount_Eur',
                                      },inplace=True).reset_index(inplace=True)#,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

AttributeError: ignored

In [35]:
df_et_crypto_close_eur.reset_index(inplace=True)

In [38]:
df_et_crypto_close_eur.drop('index',axis=1,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [39]:
df_et_crypto_close_eur

,Close Position ID,Close Datetime,Close Date,Close Action,Close Units,Close Amount_Eur,Close Rate_Eur
0,599996081,2020-05-01 11:44:00,2020-05-01,Buy Bitcoin,0.014149,115.062682,8194.258482
1,610187469,2020-05-01 20:55:00,2020-05-01,Buy Bitcoin,0.058647,458.884862,7884.243731
2,610190271,2020-05-01 20:56:00,2020-05-01,Buy Bitcoin,0.058881,461.070130,7890.334733
3,609940706,2020-05-01 20:57:00,2020-05-01,Buy Bitcoin,0.118959,932.284501,7896.906842
4,609941239,2020-05-01 20:57:00,2020-05-01,Buy Bitcoin,0.112364,881.648237,7906.338364
...,...,...,...,...,...,...,...
805,1361963252,2022-05-12 09:16:00,2022-05-12,Buy Bitcoin,0.001490,38.527932,26401.130131
806,1353186945,2022-05-12 09:16:00,2022-05-12,Buy Bitcoin,0.001611,41.680601,26417.027945
807,1283235754,2022-05-12 09:16:00,2022-05-12,Buy Bitcoin,0.042603,1104.091794,26458.424939
808,1370705010,2022-05-12 09:16:00,2022-05-12,Buy Bitcoin,0.006407,166.055431,26460.970109
809,2325392242,2022-12-02 12:29:00,2022-12-02,Buy Songbird,11.510000,0.109149,0.009483

In [ ]:
df_usd2eur['Date'] = pd.to_datetime(df_usd2eur['Date'],dayfirst=True)

In [ ]:
df_open_usd = pd.read_csv('/content/crypto_et_open_usd.csv')
df_open_usd

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date
0,846176513,Buy Tezos,412.00,205.804486,23/12/2020 12:03,2.00,23/12/2020 00:00
1,846157005,Buy Tezos,500.00,251.521706,23/12/2020 11:26,1.99,23/12/2020 00:00
2,847982369,Buy Tezos,200.00,107.747010,24/12/2020 03:54,1.86,24/12/2020 00:00
3,840577036,Buy Cardano,500.00,2870.264064,19/12/2020 17:12,0.17,19/12/2020 00:00
4,814175274,Buy Cardano,70.00,405.327157,30/11/2020 16:51,0.17,30/11/2020 00:00
...,...,...,...,...,...,...,...
805,911900841,Buy Cardano,85.30,242.467311,21/01/2021 09:46,0.35,21/01/2021 00:00
806,984927497,Buy Cardano,25.00,29.705323,15/02/2021 07:44,0.84,15/02/2021 00:00
807,984188338,Buy Cardano,107.00,119.526363,14/02/2021 10:09,0.90,14/02/2021 00:00
808,983260931,Buy Cardano,649.65,693.257239,12/02/2021 20:46,0.94,12/02/2021 00:00
809,1122775501,Buy Cardano,1500.00,1451.238390,23/04/2021 09:21,1.03,23/04/2021 00:00

In [ ]:
df_open_usd['Date'] = pd.to_datetime(df_open_usd['Date'],dayfirst=True)

In [ ]:
df_open_usd = pd.read_csv('/content/crypto_et_open_usd.csv')
df_open_usd

,Position ID,Action,Amount,Units,Open Date,Open Rate,Date
0,846176513,Buy Tezos,412.00,205.804486,23/12/2020 12:03,2.00,23/12/2020 00:00
1,846157005,Buy Tezos,500.00,251.521706,23/12/2020 11:26,1.99,23/12/2020 00:00
2,847982369,Buy Tezos,200.00,107.747010,24/12/2020 03:54,1.86,24/12/2020 00:00
3,840577036,Buy Cardano,500.00,2870.264064,19/12/2020 17:12,0.17,19/12/2020 00:00
4,814175274,Buy Cardano,70.00,405.327157,30/11/2020 16:51,0.17,30/11/2020 00:00
...,...,...,...,...,...,...,...
805,911900841,Buy Cardano,85.30,242.467311,21/01/2021 09:46,0.35,21/01/2021 00:00
806,984927497,Buy Cardano,25.00,29.705323,15/02/2021 07:44,0.84,15/02/2021 00:00
807,984188338,Buy Cardano,107.00,119.526363,14/02/2021 10:09,0.90,14/02/2021 00:00
808,983260931,Buy Cardano,649.65,693.257239,12/02/2021 20:46,0.94,12/02/2021 00:00
809,1122775501,Buy Cardano,1500.00,1451.238390,23/04/2021 09:21,1.03,23/04/2021 00:00

In [ ]:
df_open_merged['Position ID'].nunique()

810

In [ ]:
df_open_merged.to_csv('crypto_et_open_merged.csv',index=False)

In [ ]:
df_open_usd['Date'] = pd.to_datetime(df_open_usd['Date'],dayfirst=True)

In [ ]:
df_find_na = df_usd2eur # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

The number of null values in column Date are: 0
And their integer location is: []
The number of null values in column Open are: 0
And their integer location is: []
The number of null values in column High are: 0
And their integer location is: []
The number of null values in column Low are: 0
And their integer location is: []
The number of null values in column Close are: 0
And their integer location is: []
The number of null values in column Weekday are: 0
And their integer location is: []

In [ ]:
df_find_na = df_open_usd # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

The number of null values in column Position ID are: 0
And their integer location is: []
The number of null values in column Action are: 0
And their integer location is: []
The number of null values in column Amount are: 0
And their integer location is: []
The number of null values in column Units are: 0
And their integer location is: []
The number of null values in column Open Date are: 0
And their integer location is: []
The number of null values in column Open Rate are: 0
And their integer location is: []
The number of null values in column Date are: 0
And their integer location is: []

In [ ]:
df_find_na = df_close_usd # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

The number of null values in column Position ID are: 0
And their integer location is: []
The number of null values in column Action are: 0
And their integer location is: []
The number of null values in column Units are: 0
And their integer location is: []
The number of null values in column Close Date are: 0
And their integer location is: []
The number of null values in column Spread are: 0
And their integer location is: []
The number of null values in column Profit are: 0
And their integer location is: []
The number of null values in column Close Rate are: 0
And their integer location is: []
The number of null values in column Date are: 0
And their integer location is: []

In [ ]:
print(df_close_usd.columns)
print(df_close_usd.shape)
print(df_open_usd.columns)
print(df_open_usd.shape)
print(df_usd2eur.columns)
print(df_usd2eur.shape)

Index(['Position ID', 'Action', 'Units', 'Close Date', 'Spread', 'Profit',
       'Close Rate', 'Date'],
      dtype='object')
(810, 8)
Index(['Position ID', 'Action', 'Amount', 'Units', 'Open Date', 'Open Rate',
       'Date'],
      dtype='object')
(810, 7)
Index(['Date', 'Open', 'High', 'Low', 'Close', 'Weekday'], dtype='object')
(1095, 6)

In [ ]:
df_open_merged = pd.merge(df_open_usd,df_usd2eur,on='Date')

In [ ]:
print(df_open_merged.columns)
df_open_merged.shape

Index(['Position ID', 'Action', 'Amount', 'Units', 'Open Date', 'Open Rate',
       'Date', 'Open', 'High', 'Low', 'Close', 'Weekday'],
      dtype='object')

(810, 12)

In [ ]:
df_find_na = df_open_merged # use the DataFrame for which you would like to find NANs
columns_df_find_na = df_find_na.columns
def find_null_values(column_name):
  print('The number of null values in column {} are:'.format(column_name),len(np.where(df_find_na.isna()[column_name])[0]))
  print('And their integer location is:', np.where(df_find_na.isna()[column_name])[0])
null_values = [find_null_values(y) for y in columns_df_find_na]

The number of null values in column Position ID are: 0
And their integer location is: []
The number of null values in column Action are: 0
And their integer location is: []
The number of null values in column Amount are: 0
And their integer location is: []
The number of null values in column Units are: 0
And their integer location is: []
The number of null values in column Open Date are: 0
And their integer location is: []
The number of null values in column Open Rate are: 0
And their integer location is: []
The number of null values in column Date are: 0
And their integer location is: []
The number of null values in column Open are: 0
And their integer location is: []
The number of null values in column High are: 0
And their integer location is: []
The number of null values in column Low are: 0
And their integer location is: []
The number of null values in column Close are: 0
And their integer location is: []
The number of null values in column Weekday are: 0
And their integer location is: []

In [ ]:
df_closed_merged = pd.read_csv('/content/crypto_et_closed_merged.csv')

In [ ]:
df_closed_merged.dtypes
df_open_merged.dtypes
df_usd2eur.dtypes

Date       datetime64[ns]
Open              float64
High              float64
Low               float64
Close             float64
Weekday            object
dtype: object

In [ ]:
df_open_merged['Date'] = pd.to_datetime(df_open_merged['Date'],dayfirst=True)
df_open_merged['Open Date'] = pd.to_datetime(df_open_merged['Open Date'],dayfirst=True)
df_closed_merged['Date'] = pd.to_datetime(df_closed_merged['Date'],dayfirst=True)
df_closed_merged['Close Date'] = pd.to_datetime(df_closed_merged['Close Date'],dayfirst=True)
df_usd2eur['Date'] = pd.to_datetime(df_usd2eur['Date'],dayfirst=True)

In [ ]:
df_closed_merged.sort_values('Close Date', inplace=True).reset_index()

AttributeError: ignored

In [ ]:
df_closed_merged.reset_index(inplace=True)

In [ ]:
df_closed_merged.drop('index',axis=1, inplace=True)

In [ ]:
df_closed_merged

,Position ID,Action,Units,Close Date,Spread,Profit,Close Rate,Date,Open,High,Low,Close,Weekday
0,599996081,Buy Bitcoin,0.014149,2020-05-01 11:44:00,0.96,27.72,9027.00,2020-05-01,1.094475,1.101625,1.093542,1.094547,Friday
1,610187469,Buy Bitcoin,0.058647,2020-05-01 20:55:00,3.83,-30.73,8685.48,2020-05-01,1.094475,1.101625,1.093542,1.094547,Friday
2,610190271,Buy Bitcoin,0.058881,2020-05-01 20:56:00,3.85,-28.20,8692.19,2020-05-01,1.094475,1.101625,1.093542,1.094547,Friday
3,609940706,Buy Bitcoin,0.118959,2020-05-01 20:57:00,7.79,-25.13,8699.43,2020-05-01,1.094475,1.101625,1.093542,1.094547,Friday
4,609941239,Buy Bitcoin,0.112364,2020-05-01 20:57:00,7.37,-31.33,8709.82,2020-05-01,1.094475,1.101625,1.093542,1.094547,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,1361963252,Buy Bitcoin,0.001490,2022-05-12 09:16:00,0.84,-52.98,27799.73,2022-05-12,1.051248,1.052975,1.037355,1.051248,Thursday
806,1353186945,Buy Bitcoin,0.001611,2022-05-12 09:16:00,0.91,-55.21,27816.47,2022-05-12,1.051248,1.052975,1.037355,1.051248,Thursday
807,1283235754,Buy Bitcoin,0.042603,2022-05-12 09:16:00,23.98,-880.08,27860.06,2022-05-12,1.051248,1.052975,1.037355,1.051248,Thursday
808,1370705010,Buy Bitcoin,0.006407,2022-05-12 09:16:00,3.61,-218.86,27862.74,2022-05-12,1.051248,1.052975,1.037355,1.051248,Thursday
809,2325392242,Buy Songbird,11.510000,2022-12-02 12:29:00,0.00,0.00,0.01,2022-12-02,1.052842,1.054519,1.043417,1.052842,Friday

In [ ]:
# start with first